/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: "Avenir Next Cyr";
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  overflow-y: scroll;
  position: relative; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: ''; }

q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.containerWrap {
  display: block;
  width: 100%;
  min-width: 1830px; 
}

.containerWrap .wrap {
  display: block;
  position: relative;
  width: 1800px;
  margin: 0 auto;
  padding: 0 15px; 
}




























// Шрифты и обводка
// @font-face {
//   font-family: 'ProximaNova';
//   src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
//   src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
//   src: url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// * {
//   font-family: ProximaNova;
// }

// *::selection {
//   background: orange;
// }


// JavaScript
// $('#popup-button')
//         .click(function(){
//             $('#popup-container').fadeIn(500);
//         });

//     $('#popup-container').click(function(event){
//         if(event.target == this) {
//             $(this).fadeOut(400);
//         }
//     })

//     $('#popup-cross')
//         .click(function(){
//             $('#popup-container').fadeOut(400);
//         });

//     $("#phone").mask("+7-999-999-99-99");







// Шаблон - модальное окно

// <!-- Всплывающая форма -->

// <div id="popup-container">
//     <div id="popup">
//         <form class="popup-form" action="">
//             <div>
//                 <p class="popup-form-h">Пожалуйста заполните контактные данные. 
//                     Мы свяжемся с вами в ближайшие рабочие часы.</p>
//             </div>
//             <input class="popup-form-inp" type="text" placeholder="Ваше имя*">
//             <input class="popup-form-inp" id="phone" type="tel" placeholder="Ваш телефон*">
//             <input class="popup-form-inp" type="email" placeholder="Ваш E-mail*">
//             <textarea name="" id="Comment" cols="30" placeholder="Комментарий*" rows="10"></textarea>
//             <div class="popup-form-cont-ch">
//                 <input checked id="popup-form-chbox" type="checkbox">
//                 <label class="popop-form-comm" for="popup-form-chbox">Я согласен на условия обработки 
//                     персональных данных</label>
//             </div>
//             <input class="popup-form-inp-otpr" type="submit">
//         </form>
//         <a href="#" id="popup-cross"><img src="img/2.4 Form/3. Cross.png" alt=""></a>
//     </div>
// </div>    

// CSS
/* Всплывающая форма */

#popup-container {
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 10000;
}

#popup {
  width: 700px;
  height: 700px;
  border: 10px solid white;
  background: url('../img/2.4 Form/1. BGOrangeFlower.jpg');
  padding: 20px;
  margin: 50px auto;
  border-radius: 24px;
  overflow: auto;

  position: relative;

  display: flex;
  justify-content: center;
}

.popup-form {
  width: 620px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.popup-form > div {
  width: 590px;
}

.popup-form-h {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: white;

  text-align: center;
}

.popup-form-inp {
  width: 550px;
  height: 50px;
  margin-top: 20px;
  border-radius: 6px;
  padding: 0px 20px;
  outline: none;
  border: 0px;
}

.popup-form-inp-otpr {
  width: 590px;
  height: 50px;
  margin-top: 20px;
  border-radius: 6px;
  padding: 0px 20px;
  outline: none;
  border: 0px;
  font-size: 16px;
  color: white;
  cursor: pointer;

  background-image: linear-gradient(-10deg, #32964d 0%, #3e9632 100%);
  box-shadow: 0 15px 25px rgba(50, 150, 77, 0.25), inset 0 -8px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 2s;
}

.popup-form-inp-otpr:hover {
  box-shadow: none;
}

.popup-form > #Comment {
  height: 100px;
  width: 550px;
  margin-top: 20px;
  border-radius: 6px;
  padding: 10px 20px 0px;
  outline: none;
  border: 0px;
}

.popup-form > div {
  display: flex;
  align-items: center;
  justify-content: start;
}

.popup-form-cont-ch {
  margin-top: 20px;
}

#popup-form-chbox {
  height: 40px;
  width: 40px;
  margin: 0px 20px 0px 0px;

  opacity: 0;
}

.popop-form-comm {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  cursor: pointer;
  color: white;

  position: relative;
}

.popop-form-comm::before {
  content: "";
  display: inline-block;
  position: absolute;
  
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  
  border-radius: 6px;
  border: 0px;

  top: -6px;
  left: -60px;
}

.popop-form-comm::after {
  content: url('../img/2.4 Form/2. OK.png');
  display: inline-block;
  position: absolute;

  height: 60px;
  width: 60px;

  left: -48px;
  top: 3px;
}

#popup-form-chbox + .popop-form-comm::after {
  content: none;
}

#popup-form-chbox:checked + .popop-form-comm::after {
  content: url('../img/2.4 Form/2. OK.png');
}

#popup-cross {
  position: absolute;
  right: 20px;
  top: 20px;
  
}

#popup-cross > img {
  height: 20px;
  width: 20px;
}

#popup-cross > img:hover {
  transition: all 1s;
  transform: rotate(180deg);
}